@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  font-family: "Oxanium", sans-serif;
}

.logo-text{
    margin-left: 37rem;
}

.logo-img{
    border-radius: 20%;
}

.navbar{
    background-color: rgb(245, 242, 239) !important;
}

.mid-section{
    background: url(https://static1.hkrtcdn.com/mbnext/static/media/common/best-selling-desktop-be.svg) ;
    background-size:cover; 
    background-repeat: no-repeat; 
}

.h1-hr {
    width: 5rem;
    border-width: 5px;
    margin-top: 0;
    color: rgb(38, 38, 38) !important;
    transform: skew(-45deg);
}